*{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.navbar-nav li a:hover{
	border-bottom: 4px solid #FF000E;
}
.fl{
	float: left;
}
.navbar-default{
	background: #fff;
}
.logo{
	padding: 0;
	margin: 0;
}
.navbar-brand{
	float: left;height: 90px;
	padding: 15px 15px;
	font-size: 30px;
	line-height: 90px;
}
#navbar-collapse ul{
	margin-top: 0;
}
.navbar-right{
	float: right;
	margin-right: 150px;
}
.navbar-default .navbar-nav>li>a{
	display: inline-block;
	color: #333;
	height: 100px;
	font-size: 14px;
	line-height: 60px;
}
.navbar-default .navbar-nav p{
	line-height: 90px;
	margin-left: 30px;
	background: url(../img/phone.png)no-repeat;
	text-indent: 25px;
	background-position: 0 35px;
}
.navbar-toggle{
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 28px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;border-radius: 4px;
}
#myCarousel{
	margin: 50px 0 0 0;
}
.active{
	color: #FFFFFF;
	background: #FF000E;
}
.carousel-inner img{
	margin: 0 auto;
}
#teacherbanner_FO{
	display: block;
	width: 190px;
	height: 60px;
	border-radius: 10px;
	background: #FF000E;position: absolute;
	top: 68%;
	right: 37%;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	z-index: 9;
}
.index_FO{
	margin-top: 30px;
	display: inline-block;
	width: 190px;
	height: 60px;
	border-radius: 10px;
	background: #FF000E;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	color: #fff;
}
#rightmenu1{
	position: fixed;
	top: 220px;
	right: 120px;
	width: 60px;
	height: 60px;
	background: url(../img/wechatcode.png);
	z-index: 99;
}
#banner_wechatcode{
	display: none;
	position: fixed;
	top: 220px;
	right: 190px;
	width: 116px;
	height: 110px;
	background: url(../img/codepic.png);
	z-index: 99;
	
}
.rightmenu2{
	position: fixed;
	top: 290px;
	right: 120px;
	width: 60px;
	height: 60px;
	background: url(../img/lineserver.png);
	z-index: 99;
}
.rightmenu3{
	position: fixed;
	top: 360px;
	right: 120px;
	width: 60px;
	height: 60px;
	background: url(../img/backtop.png);
	z-index: 99;
	
}
.rightmenu3:hover{
	position: fixed;
	top: 360px;
	right: 120px;
	width: 60px;
	height: 60px;
	background: url(../img/gotop.png);
	z-index: 99;
	
}
.teacher_tab1 .container p{
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #333;
}
.teacher_tab1 .container p>span{
	color: #FF000E;
	font-size: 34px;
}
.teacher_tab1 .container .pbot{
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #666;
	font-size: 24px;
}
.teacher_tab1 .teach_change1 p{
/*	display: block;*/
	margin-left: 80px;
	margin-top: 70px;
/*	width: 200px;*/
	height: 231px;
	background: url(../img/teach/teach_change1.png)no-repeat;
}
.teacher_tab1 .container p{
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #333;
	
}
.media-tip{
	padding-top: 20px;
	width: 100%;
	float: left;
	text-align: center;
}
.media-tip .text{
	padding-bottom: 20px;
}
.tab3{
	width: auto;
	height: 760px;
	background: url(../img/tab3-bg.png);
}
.tab-h2{
	font-size: 34px;
}
.tab-h2 span{
	font-size: 40px;
	color: #FF000E;
}
.five{
	width: 1200px;
	height: auto;
	position: absolute;
	margin-top: 40px;
}
.five span{
	position: relative;
	display: inline-block;
	height: 60px;
	margin-top: 10px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
}
.trans{
	transition: all .75s;
	transform-origin: center center;
}
.five span:nth-child(1){
	width: 77.66%;
	background: url(../img/tixing1.png)no-repeat;
	left: 11.1%;
}
.fiv span:nth-child(2){
	width: 70.83%;
	background: url(../img/tixing2.png)no-repeat;
	left: 14.58%;
}
.fiv span:nth-child(3){
	width: 64%;
	background: url(../img/tixing3.png)no-repeat;
	left: 18%;
}
.fiv span:nth-child(4){
	width: 57.33%;
	background: url(../img/tixing4.png)no-repeat;
	left: 21.3%;
}
.fiv span:nth-child(5){
	width: 50.5%;
	background: url(../img/tixing5.png)no-repeat;
	left: 24.75%;
}
.fiv span:nth-child(6){
	width: 83.33%;
	background: url(../img/tixing6.png)no-repeat;
	left: 28.33%;
	text-indent: -480px;
}
.youwencopy{
	color: #D5D5D5;
	width: 100%;
	height: 60%;
	line-height: 60px;
	background: #2D2D2D;
	text-align: center;
}
#mask{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	float: left;
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	background: rgba(0,0,0,0.701961);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(76,76,76);
	border-image: initial;
}
.teacher_tab1 .container p{
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	font-size:30px ;
	color: #333;
}
.teacher_tab1 .container p>span{
	color: #FF000E;
	font-size: 34px;
}
.teacher_tab1 .container .pbot{
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #666;
	font-size: 24px;
}

.teacher_tab1 .teach_change1 p{
	display: block;
	margin-left: 80px;
	margin-top: 70px;
	width:200px;
	height: 231px;
	background: url(../img/teach/teach_change1.png) no-repeat;
}
.teacher_tab1 .teach_change1 p:hover{
	background: url(../img/teach/teach_change11.png)no-repeat;
}
.teacher_tab1 .teach_change2 p{
	display: block;
	margin-left: 80px;
	margin-top: 70px;
	width:200px;
	height: 231px;
	background: url(../img/teach/teach_change2.png) no-repeat;
}
.teacher_tab1 .teach_change2 p:hover{
	background: url(../img/teach/teach_change22.png)no-repeat;
}
.teacher_tab1 .teach_change3 p{
	display: block;
	margin-left: 80px;
	margin-top: 70px;
	width:200px;
	height: 231px;
	background: url(../img/teach/teach_change3.png) no-repeat;
}
.teacher_tab1 .teach_change3 p:hover{
	background: url(../img/teach/teach_change33.png)no-repeat;
}




/*flowchart.html.css 流程*/
.flowchart_tab1{
	background: url(../img/flowchart/flowchartbg.png)no-repeat;
}
.flowchart_tab1 .container{
	
}
.flowchart_tab1 .container .flowchart_img1 p{
	display: block;
	width: 1170px;
	height: 450px;
	background: url(../img/flowchart/flowimg.png)no-repeat;
}
.flowchart_tab1 .container p{
	display: inline-block;
	padding-top: 30px;
	width: 100%;
	text-align: center;
	font-size:30px ;
	color: #333;
}
.flowchart_tab1 .container p>span{
	color: #FF000E;
	font-size: 34px;
}
.flowchart_tab1 .container .pbot{
	display: inline-block;
	padding-bottom: 50px;
	width: 100%;
	text-align: center;
	color: #666;
	font-size: 24px;
}
.tab3{
	width: auto;
	height: 760px;
	background: url(../images/tab3-bg.png);
	
}
.tab3 img {
	width: 65%;
	height: 65%;
}
.text h3 {
	font-size: 20px;
}
.text p {
	font-size: 14px;
}

.five{
	width: 1200px;
	height: auto;
	position: absolute;
	margin-top: 40px;
}
.five span{	
	position: relative;
	display: inline-block;	
	height: 60px;
	margin-top: 10px;	
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
}
.five span:nth-child(1){
	width: 77.66%;
	background: url(../img/tixing1.png)no-repeat; 
	left: 11.1%;
}
.five span:nth-child(2){
	width: 70.83%;
	background: url(../img/tixing2.png)no-repeat;
	left: 14.58%;
}
.five span:nth-child(3){
	width: 64%;
	background: url(../img/tixing3.png)no-repeat; 
	left: 18%;
}
.five span:nth-child(4){
	width: 57.33%;
	background: url(../img/tixing4.png)no-repeat;
	left: 21.3%;
}
.five span:nth-child(5){
	width: 50.5%;
	background: url(../img/tixing5.png)no-repeat;
	left: 24.75%;
}
.five span:nth-child(6){
	width: 83.33%;
	background: url(../img/tixing6.png)no-repeat;
	left: 28.33%;
	text-indent: -480px;
}
/*模态框*/

#mask {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	float: left;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	font-family: "微软雅黑";
	border: 1px solid #4c4c4c;
}

#mtk {
	position: fixed;
	display: none;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	width: 804px;
	height: 400px;
	border: 1px solid #fff;
	border-radius: 10px;
	background: #fff;
	margin-top: 15%;
}

#mtk1 {
	width: 399px;
	height: 100%;
	color: #444;
	font-size: 22px;
}

#mtk1 span {
	display: inline-block;
	width: 70px;
	margin-left: 15px;
	padding-top: 90px;
	float: left;
}

#mtk1 span:first-child {
	margin-left: 60px;
}

#mtk1 p {
	display: inline-block;
	width: 100%;
	margin-left: 60px;
	padding-top: 6px;
	padding-bottom: 17px;
}

#line {
	width: 1px;
	height: 200px;
	background: #bcbcbc;
	margin-top: 12%;
}

#mtk2 {
	width: 400px;
	height: 100%;
}


#form2 input {
	width: 310px;
	height: 42px;
	text-indent: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #333;
}

#form2 p {
	width: 370px;
	margin-left: 30px;
	margin-bottom: 10px;
}

#form2 p:first-child {
	margin-top: 76px;
}

#form2 select {
	width: 100px;
	height: 42px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #FFFFFF;
	color: #333;
}

#form2 select:first-child {
	margin-left: 30px;
}

#mtk_img img {
	display: block;
	margin: 0 auto;
	border: none;
	/*margin-top: 11px;*/
}

#submit2{
	width: 240px !important;
	height: 46px !important;
	background: #ea5d64 !important;
	font-size: 18px !important;
	color: #fff !important;
	margin-top: 20px !important;
	margin-left: 40px !important;
}

#close_freeorder {
	color: #bcbcbc;
	float: right;
	width: 24px;
	height: 24px;
	background: url(../img/closeico.png);
	margin-top: 20px;
	margin-right: 20px;
	font-size: 22px;
	text-indent: 90%;
	cursor: pointer;
}


/*class页面*/

.class_row {
	width: 1200px;
	margin: 0 auto;
	padding-top: 70px;
}

.class_row>.col-md-2 ul li {
	display: inline-block;
	width: 168px;
	border: 1px solid #fff;
	border-radius: 20px;
}

.left_menu {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.left_menu li {
	position: relative;
	display: block;
}

.left_menu li a {
	color: #333;
	font-size: 18px;
	position: relative;
	display: block;
	padding: 10px 15px;
	text-indent: 50px;
	letter-spacing: 1px;
}


/*优问课堂左侧导航按钮栏*/

.left_menu li:nth-child(1) a {
	background: url(../img/class/star.png)no-repeat;
	background-position: 21px 10px;
}

.left_menu li:nth-child(1) a:hover,
.left_menu li:nth-child(1) a:focus {
	background: url(../img/class/star1.png)no-repeat;
}

.left_menu li:nth-child(2) a {
	background: url(../img/class/tip.png)no-repeat;
	background-position: 21px 10px;
}

.left_menu li:nth-child(2) a:hover,
.left_menu li:nth-child(2) a:focus {
	background: url(../img/class/tip1.png)no-repeat;
}

.left_menu li:nth-child(3) a {
	background: url(../img/class/screen.png)no-repeat;
	background-position: 21px 10px;
}

.left_menu li:nth-child(3) a:hover,
.left_menu li:nth-child(3) a:focus {
	background: url(../img/class/screen1.png)no-repeat;
}

.left_menu li:nth-child(4) a {
	background: url(../img/class/doctor.png)no-repeat;
	background-position: 21px 10px;
}

.left_menu li:nth-child(4) a:hover,
.left_menu li:nth-child(4) a:focus {
	background: url(../img/class/doctor1.png)no-repeat;
}

.left_menu li a:hover,
.left_menu li a:focus {
	color: #fff;
	text-decoration: none;
}

.left_menu-pills li {
	float: left;
}

.left_menu-pills li a {
	border-radius: 20px;
}

.left_menu-pills li+ li {
	margin-left: 2px;
}

.left_menu-pills li.active> a,
.left_menu-pills li.active> a:hover,
.left_menu-pills li.active> a:focus {
	color: #fff;
	background-color: #ff5f68;
}

.left_menu-stacked li {
	float: none;
}

.left_menu-stacked li+ li {
	margin-top: 2px;
	margin-left: 0;
}

.class_midnews {
	width: 570px;
	height: 700px;
	margin: 0 auto;
}

.class_midnews img {
	width: 170px;
	height: 120px;
	float: left;
}

.class_midnews p {
	width: 400px;
	float: left;
	margin-bottom: 5px;
	text-indent: 15px;
	font-size: 20px;
	color: #333;
}

.class_midnews span {
	margin-left: 15px;
	width: 385px;
	float: left;
	margin-bottom: 5px;
	font-size: 14px;
	color: #666;
}

.class_midnews time {
	margin-left: 15px;
}

.right_news p {
	display: inline-block;
	font-size: 22px;
	text-indent: 10px;
	width: 100%;
	height: 34px;
	border-left: 3px solid #ff5f68;
}

.class_page {
	margin-left: 33%;
}

.right,
.wrong {
	font-family: "黑体";
	font-size: 24px;
}

.right {
	color: green;
}

.wrong {
	color: red;
}

.tab5{
	width: 100%;height: 60px;
}
#form1{
	float: left;
	margin: 0;padding: 0;
	width: 100%;
	height: 60px;
	background: #4C4C4C;
	position: sticky;
}
#form1 p{
	float: left;
}
#form1 p:first-child{
	margin-left: 0px;
	margin-left: 18%;
}
#form1 p>input{
	width: 210px;
	height: 32px;
	border: 1px solid #fff;
	background: #fff;
	margin-top: 14px;
	margin-left: 15px;
	font-size:16px;
}
.tab5 #form1 select{
	width: 90px;height: 32px;
	border:none;
	float: left;
	margin-top: 14px;
	margin-left: 3px;
}
#submit{
	float: left;
	width: 125px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background: #FF000E;
	font-size: 18px;
	margin-top: 10;
	margin-left: 30px;
	text-align: center;
	text-indent: 0;
	color: #fff;
	
}

.tab4 .container{
	height: 660px;
}
.tab4 img{
	transition: all 1s; 
}
.tab4 img:hover{
	-webkit-transform:scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
}

.trans{
	transition: all .75s;
	transform-origin:center center;
}
.trans:hover{
	-webkit-transform: rotateX(360deg);
	-moz-transform: rotateX(360deg);
	-ms-transform: rotateX(360deg);
}






.youwencopy{
	color: #D5D5D5;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #2d2d2d;
	text-align: center;
}